<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1024357608992-7vglodf8aodet2p22ltrkmjlq1ksli1g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1024357608992-7vglodf8aodet2p22ltrkmjlq1ksli1g</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1024357608992-006h81l7gfs577da9c6dhmdl86h7ckef.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBYvG59N_mqv3SwGJEQQcm3kONx5716i-I</string>
	<key>GCM_SENDER_ID</key>
	<string>1024357608992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.crikclub.app</string>
	<key>PROJECT_ID</key>
	<string>crikclub-36074</string>
	<key>STORAGE_BUCKET</key>
	<string>crikclub-36074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1024357608992:ios:dde5a80f4b6c15a4749645</string>
</dict>
</plist>